# Project information
site_name: pathpyG
site_url: https://www.pathpy.net/
site_author: pathpy developers
site_description: >-
  An Open Source package facilitating next-generation network analytics and graph learning for time series data on graphs.

# Repository
# Currently displays wrong numbes
repo_name: pathpy/pathpyG
repo_url: https://github.com/pathpy/pathpyG
edit_uri: edit/main/docs/

nav:
  - Home: index.md
  - Getting Started:
    - getting_started.md
    - Docker Installation: docker_installation.md
  - Tutorial:
    - tutorial.md
    - Basic Concepts: tutorial/basic_concepts.ipynb    
    - Temporal Graphs: tutorial/temporal_graphs.ipynb
    - Interactive Graph Visualisation: tutorial/visualisation.ipynb    
    - Temporal Graph Visualisation using Manim: tutorial/manim_tutorial.ipynb
    - Graph Learning in Netzschleuder Data: tutorial/netzschleuder.ipynb
    - Path Data and Higher-Order Models: tutorial/paths_higher_order.ipynb    
    - Higher-Order Models for Time-Respecting Paths: tutorial/trp_higher_order.ipynb    
    - Causality-Aware GNNs: tutorial/dbgnn.ipynb    
    - Generative Models for Random Graphs: tutorial/generative_models.ipynb
    - Implementation Concepts: tutorial/implementation_concepts.ipynb
    - Develop your own plot Functions: plot_tutorial.md
  - Code Reference: reference/ # The rest is done automatically by literate-nav
  - Contributing: 
    - contributing.md
  - About: about.md

# Copyright
# TODO: Is this still up to date?
# copyright: Copyright &copy 2016-2024 Pathpy Developers

# Plugins
plugins:
  - search
  - autorefs
  - gen-files:
      scripts:
      - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
          python:
            # load_external_modules: true  # TODO: This could be a way to add the networkx docs
            options:
              annotations_path: full
              show_bases: True
              show_signature: False
            import:
              - https://docs.python.org/3/objects.inv
              - https://docs.scipy.org/doc/scipy/objects.inv
              - https://numpy.org/doc/stable/objects.inv
              - https://pytorch-geometric.readthedocs.io/en/latest/objects.inv
              - https://pytorch.org/docs/stable/objects.inv
              - https://pandas.pydata.org/docs/objects.inv
              - https://networkx.org/documentation/stable/objects.inv
  - mkdocs-jupyter:
      ignore_h1_titles: True
      ignore: ["gen_ref_pages.py", "reference/pathpyG/visualisations/plot/documentation_plots.ipynb", "tutorial/archive/_higher_order_scalability.ipynb", "tutorial/archive/_scalability_analysis.ipynb"]
      execute: True
      execute_ignore: ["tutorial/manim_tutorial.ipynb", "tutorial/dbgnn.ipynb"]  # Skip notebooks that take too long
      allow_errors: False
      include_source: True
      include_requirejs: False
  - git-revision-date-localized
  - mike: # Versioning
      alias_type: redirect
  - markdown-exec # Execute code blocks to show the output; Also for rendering of directory trees

extra:
  version:
    default: dev
    provider: mike

extra_css:
  - overrides/assets/stylesheets/header.css  # Remove the sitename from the header, since the logo already contains it
  - overrides/assets/stylesheets/home.css
  - overrides/assets/stylesheets/code_select.css
  - overrides/assets/stylesheets/reference_admonition.css  # Custom reference admonition icon
  - https://unpkg.com/katex@0/dist/katex.min.css

extra_javascript:
  - overrides/assets/scripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

# Theme
theme:
  name: material
  logo: img/pathpy_logo_white.png
  favicon: img/favicon.ico
  custom_dir: docs/overrides
  icon:
    repo: fontawesome/brands/github
  features:
    - announce.dismiss
    # Render top level sections as headers in the navigation bar
    - navigation.tabs
    # Speed up loading times
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    # Update the URL when scrolling through the page
    - navigation.tracking
    # Back to top button
    - navigation.top
    # Add breadcrumbs to the navigation bar
    - navigation.path
    # Integrate table of contents in left navigation bar
    # - toc.integrate
    # Search functionality
    - search.suggest
    - search.highlight
    # Add button to show Github edit link
    - content.action.view
    - content.action.edit
    # Code copy button
    - content.code.copy
    - content.code.annotate
    # Tooltips
    - content.tooltips
    - content.footnote.tooltips
    # Scroll toc sidebar with the page
    - toc.follow

  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
      primary: blue grey
      accent: cyan

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: blue grey
      accent: cyan

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
      primary: blue grey
      accent: cyan

# Enable cool markdown features
# See https://squidfunk.github.io/mkdocs-material/reference/
markdown_extensions:
  - abbr
  - admonition  # blocks like !!! note
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:  # Add a link that leads to each section
      permalink: true
  - pymdownx.arithmatex:  # Math with $...$ and $$...$$
      generic: true
  - pymdownx.betterem:  # Improves emphasis for **bold** and *italic*
      smart_enable: all
  - pymdownx.caret  # Superscript with ^this^
  - pymdownx.details  # Collapsible admonitions with ???
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      options:
        custom_icons:
          - docs/overrides/assets/icons
  - pymdownx.highlight:  # Code highlighting with that starts with ```python
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite  # Code highlighting in text with `:::python print("Hello World")`
  - pymdownx.keys  # Add keys by sorround them with ++key++
  - pymdownx.mark  # Highlight text with ==highlight==
  - pymdownx.smartsymbols  # Symbols like (c) and (r) (see https://facelessuser.github.io/pymdown-extensions/extensions/smartsymbols/)
  - pymdownx.snippets:  # Include files with --8<-- "filename:1:20" from line 1 to 20
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:  # Nested fences or with a title ```{.python title="Title"}
      custom_fences:
        - name: mermaid  # Mermaid diagrams with ```mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:  # Tabs with === "Tab 1"
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde  # Strikethrough with ~~this~~
