# Project information
site_name: pathpyG
site_url: https://pathpyG.github.io/
site_author: pathpy developers
site_description: >-
  An Open Source package providing higher-order analytics and machine learning for time series data on graphs using PyG.

# Repository
# TODO: Check the number of stars and forks once repo is public
# Currently displays wrong numbes
repo_name: pathpy/pathpyG
repo_url: https://github.com/pathpy/pathpyG
edit_uri: edit/main/docs/

nav:
  - Home: index.md
  # - Getting Started: getting_started.md
  # - Tutorial:
  #   - tutorial.md
  #   - Simple Graphs: tutorial/01_simple_graphs.ipynb
  #   - Visualisation: tutorial/02_visualisation.ipynb
  #   - Temporal Graphs: tutorial/03_temporal_graphs.ipynb
  #   - Accessing Netzschleuder: tutorial/04_netzschleuder.ipynb
  #   - Path Data: tutorial/05_path_data.ipynb
  #   - Higher-Order Scalability: tutorial/06_higher_order_scalability.ipynb
  #   - De Bruijn GNN: tutorial/07_dbgnn.ipynb
  # - Code Reference: reference/ # The rest is done automatically by literate-nav
  - Contributing: contributing.md
  - About: about.md

# Copyright
# TODO: Is this still up to date?
# copyright: Copyright &copy 2016-2021 Pathpy Developers

# Plugins
plugins:
  - search
  # - gen-files:
  #     scripts:
  #     - docs/gen_ref_pages.py
  # - literate-nav:
  #     nav_file: SUMMARY.md
  # - section-index
  # - mkdocstrings
  # - mkdocs-jupyter:
  #     ignore_h1_titles: True
  #     ignore: ["tutorial/new_paths.ipynb", "tutorial/xx_test.ipynb"]
  #     execute: False # TODO: Set to True once all notebooks are executable
  #     allow_errors: False
  #     include_source: True
  - git-revision-date-localized
  - mike # Versioning

extra:
  version:
    default:
      - dev
      - stable
    provider: mike

# Theme
theme:
  name: material
  logo: img/pathpy_logo.png
  favicon: img/favicon.ico
  custom_dir: docs/overrides
  icon:
    repo: fontawesome/brands/github
  features:
    # - announce.dismiss
    # Render top level sections as headers in the navigation bar
    - navigation.tabs
    # Speed up loading times
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    # Update the URL when scrolling through the page
    - navigation.tracking
    # Back to top button
    - navigation.top
    # Add breadcrumbs to the navigation bar
    - navigation.path
    # Integrate table of contents in left navigation bar
    - toc.integrate
    # Search functionality
    - search.suggest
    - search.highlight
    # Add button to show Github edit link
    - content.action.view
    - content.action.edit
    # Code copy button
    - content.code.copy
    - content.code.annotate
    # Tooltips
    - content.tooltips
    # Scroll toc sidebar with the page
    - toc.follow

  palette:

    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
      primary: blue grey
      accent: cyan

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: blue grey
      accent: cyan

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
      primary: blue grey
      accent: cyan

# Enable cool markdown features
# See https://squidfunk.github.io/mkdocs-material/reference/
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
