.parallax::after {
    height: 100vh;
    margin-top: -2.4rem;
    width: 100vw;
}

.parallax__group {
    height: calc(100vh - 2.4rem);
}

.parallax__layer {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
}

.parallax__image {
    height: 105%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.md-bg-color {
    background-color: var(--md-primary-fg-color) !important;
}

.parallax__group-dark {
    background-color: var(--md-primary-fg-color--light);
    z-index: 1;
}

.scrollwrap {
    height: calc(100vh - 4.8rem);
    margin-bottom: -100vh;
    position: sticky;
}

@media (max-width: 1220px) {
    .scrollwrap {
        height: calc(100vh - 2.4rem);
    }

}

.hero_box {
    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.down-arrow-icon {
    position: absolute;
    left: 50%;
    height: 1.2rem;
    width: 1.2rem;
    bottom: 0rem;
    text-align: center;
    fill: var(--md-primary-bg-color);
}

.copyright-box {
    position: absolute;
    color: var(--md-primary-fg-color);
    background-color: var(--md-primary-bg-color--light);
    border-radius: .2rem;
    bottom: .5rem;
    font-size: .4rem;
    padding: .1rem .2rem;
    right: .5rem;
}

.hero_text {
    color: var(--md-primary-bg-color) !important;
    max-width: 35%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.hero_button {
    width: 8rem;
    text-align: center;
    margin-top: 1rem;
}

.hero_text h1 {
    font-weight: 700;
    margin-bottom: 0;
    color: inherit;
}

.vanish {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.landing_second {
    padding: 1rem 0;
}

.landing_second__list {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.landing_second__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 0 45%;
}

.parallax__group_second {
    height: auto;
    padding: 2.4rem 0;
}

@media (max-width: 960px) {
    .landing_second__item {
        flex: 1 0 100%;
    }
}

.landing_second__icon {
    fill: currentcolor;
    background-color: var(--md-default-fg-color--lightest);
    border-radius: 100%;
    flex-shrink: 0;
    height: 2rem;
    font-size: 1rem;
    width: 2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_second__description h2 {
    margin-top: 0;
}

.logo-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pathpy-logo {
    max-width: 100%;
    height: auto;
}

@keyframes flyInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flyInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
