svg circle.node {
  fill: #3b5998;
  stroke: #1b3978;
  stroke-width: 2.5px;
  r: 15px;
  opacity: 1;
}

.link {
  stroke: #969595;
  stroke-opacity: .75;
  stroke-width: 2.5px;
}

.arrow {
  fill: #969595;
}


.label-text {
    fill: #969595;
    font-size: 16px;
    font-family: sans-serif;
}
