svg circle.node {
  fill: #3b5998;
  stroke: #1b3978;
  stroke-width: 2.5px;
  r: 15px;
  opacity: 1;
}

.link {
  stroke: #969595;
  stroke-opacity: .5;
  stroke-width: 2.5px;
}

.labelText {
  fill: #817e7e;
}